<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div th:if="${username != null}">
        <h1 th:text="'Hello, ' + ${username}"></h1>
        <a href="logout">Log out</a>
    </div>
    <div th:if="${username == null}">
        <a href="registration">Sign up</a>
        <a href="authorization">Sign in</a>
    </div>
    <div th:if="${username != null}">
        <form action="search_location" method="post">
            <label for="search-input">Enter location:</label>
            <input type="text" id="search-input" name="location" required>
            <button type="submit">Search!</button>
        </form>
    </div>
</body>
</html>