<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="search_location" method="post">
        <label for="search-input">Enter location:</label>
        <input type="text" id="search-input" name="location" required>
        <button type="submit">Search!</button>
    </form>
    <div th:each="location: ${locations}">
        <p th:text="${location.name + ', ' + location.country}"></p>
        <form action="add_location" method="post">
            <input type="hidden" th:value="${location}" th:attr="name='location'"/>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>